<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86322826578-veh0jemiuqc7k10i35c8uonh6d7ub4gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86322826578-veh0jemiuqc7k10i35c8uonh6d7ub4gn</string>
	<key>API_KEY</key>
	<string>AIzaSyALcix1iG-y4jKdj38vDt8e3_8gj8aRHeo</string>
	<key>GCM_SENDER_ID</key>
	<string>86322826578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.polargram</string>
	<key>PROJECT_ID</key>
	<string>polargram-me</string>
	<key>STORAGE_BUCKET</key>
	<string>polargram-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86322826578:ios:d8f3c4d5d9940121907e8b</string>
	<key>DATABASE_URL</key>
	<string>https://polargram-me.firebaseio.com</string>
</dict>
</plist>